.posts {
  padding: 0px 7.5px;
}

.post {
  padding: 5px 0px;

  h3 {
    margin-top: 12.5px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
  }

  h6 {
    font-size: 14px;
    font-family: "Source Sans Pro", "sans-serif";
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    margin-bottom: 0px;
    color: $post;
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $dark-gray;
      transition: all 0.3s ease;
    }
  }
}

.post-links a {
  font-size: 12px;
  text-decoration: none;
  color: $gray;

  &:hover {
    color: $dark-gray;
    transition: all 0.3s ease;
    border: 1px solid $dark-gray;
  }
}
