.dashboard-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  margin-top: 12.5px;
}

.dashboard-box {
  color: $post;
  border: 1px solid $post;
  margin: 10px 0px;
  padding: 15px;
  height: 410px;

  h3, h3 a {
    text-decoration: none;
    color: $post;
    font-family: "Lato", "sans-serif";
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px 0px;
  }

  h3 a:hover {
    color: $gray;
    transition: all 0.3s ease;
  }

  .tabs {
    text-align: right;
    margin: 5px 0px;

    .tab {
      font-family: "Lato", "sans-serif";
      font-size: 14px;
      font-weight: bolder;
      letter-spacing: 1px;
      padding: 3px 0px;
      margin: 0px 7.5px;

      &:last-child {
        margin-right: 0px;
      }
    }

    a {
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        border-bottom: 2.5px solid $dark-gray;
      }
    }
  }
}

.right {
  margin-left: 10px;
}

.left {
  margin-right: 10px;
}

.banners {
  .banner-footer, .banner-footer a {
    text-decoration: none;
    font-size: 14px;
    color: $post;
    text-transform: uppercase;
    padding: 5px 0px;
  }
}

// Mobile

.mobile-dashboard-grid {
  margin-top: 12.5px;
}
