.show {
  width: 100%;
  padding-left: 20px;

  h1 {
    font-size: 30px;
    letter-spacing: 7.5px;
    font-weight: bolder;
    color: $post;
    margin-top: 12.5px;
    text-transform: uppercase;
  }

  h6 {
    font-size: 13px;
    font-family: "Source Sans Pro", "sans-serif";
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: $gray;
      font-weight: bolder;

      &:hover {
        color: $post;
      }
    }
  }

  p {
    font-size: 15px;
    margin-bottom: 0px;
    color: $post;
    text-align: justify;
  }
}

.post-image {
  width: 100%;
  margin-bottom: 15px;
}

@media (max-width: 992px){
  .show-mobile {
    padding-left: 0px !important;
  }
}
