.sessions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sessions-half {
  width: 50%;

  &:first-child {
    padding-right: 15px;
  }

  &:last-child {
    padding-left: 15px;
  }

  h2 {
    font-size: 30px;
    font-weight: bolder;
    color: $post;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7.5px;
    margin-top: 12.5px;
  }
}

@media (max-width: 992px){
  .sessions-half {
    width: 100%;
    padding: 0px !important;
  }
}

.form-inputs {
  .form-control {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px;
  }

  .form-group {
    margin: 0px;
    padding-bottom: 7.5px;
    font-size: 12px;

    .checkbox {
      text-align: center;
      margin: 0px;
      height: 20px;
    }
  }
}

.form-actions {
  text-align: center;
}

.sessions-edit {
  width: 100%;

  h2 {
    font-size: 30px;
    font-weight: bolder;
    color: $post;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 12.5px;
  }

  h3 {
    font-size: 20px;
    color: $post;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding: 15px 0px;
  }

  .sessions-confirm {
    padding: 15px 0px;
    width: 50%;
    margin: auto;

    h3 {
    font-size: 20px;
    color: $post;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px;
    padding: 15px 0px;
      text-align: center;
    }
  }
}
