.post-header-flex {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
<<<<<<< HEAD
}

h6 {
  margin: 0px;
  padding-right: 5px;
=======

  h6 {
    margin: 0px;
    padding-right: 5px;
  }
>>>>>>> 777d3f277b05a70379b319b868fa3634260f6fcb
}
