<div class="navbar-wrapper">
  <!-- <div class="navbar-title"> -->
    <%= link_to "BLOGGER", root_path, class: "navbar-title" %>
  <!-- </div> -->
  <div class="navbar-links">
    <% if user_signed_in? %>
      <ul class="list-inline">
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ARCHIVE</a></li>
        <li><%= link_to "DASHBOARD", dashboard_path(current_user) %></li>
      </ul>
    <% else %>
      <ul class="list-inline">
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ARCHIVE</a></li>
        <li><%= link_to "SIGN UP / LOG IN", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</div>
