<div class="sidebar hidden-xs">
  <div class="sidebar-photo" style="background-image: url(<%= image_path 'profile.jpg'; %>">
  </div>
  <div class="sidebar-name">
    <h3>JOYCE WONG</h3>
  </div>
  <div class="sidebar-bio">
    <p>I am a former investment analyst looking to make a career transition into web development. This blog is for me to practice my coding skills as well as for me to share my thoughts. Views are my own - you can see more via my social media accounts below.</p>
  </div>
  <div class="sidebar-search">
    <p><i>There will be a search function here.</i></p>
  </div>
  <div class="sidebar-links">
    <ul class="list-inline">
      <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="http://www.twitter.com/jcywonghk"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="http://www.github.com/wcyjoyce"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
