<div class="post-form">
  <h1>EDIT POST:</h1>
  <h2><%= @post.title.upcase %></h2>
  <%= render "form", post: @post %>
</div>

<%= content_for(:title, "Edit Post | " + @post.title.split.map { |p| p.capitalize}.join(" ")) %>
