.banner {
  padding: 7.5px 0px;

  a {
    text-decoration: none;
    color: $post;
  }

  .banner-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;

    h4 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin: 0px;
    }

    h5 {
      font-size: 12.5px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: $dark-gray;
      margin: 0px;
    }

    .banner-upvote {
      display: flex;
      align-items: center;

      h5 {
        padding-left: 10px;
      }
    }
  }

  .banner-body {
    font-size: 14px;
    line-height: 1.25;
    color: $dark-gray;

    .banner-creator {
      color: $post;
      font-size: 10px;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
  }
}

.placeholder-message, .placeholder-message a {
  font-size: 15px;
  line-height: 1.25;
  color: $post;
  padding-top: 5px;
}
