.comment {
  margin-bottom: 15px;

  h6 {
    font-size: 12px;
    font-family: "Source Sans Pro", "sans-serif";
    color: $dark-gray;
    margin: 5px 0px;
  }
}

.comment-form {
  padding-top: 10px;
}
