.post-form {
  width: 100%;

  h1 {
    font-size: 30px;
    letter-spacing: 7.5px;
    font-weight: bolder;
    color: $post;
  }

  h2 {
    font-size: 26px;
    letter-spacing: 5px;
    font-weight: bolder;
    color: $dark-gray;
    margin: 0px 0px 25px 0px;
  }
}

.form-control {
  font-family: "Lato", "sans-serif";
  font-size: 14px;
  color: $post;
  border: 1px solid $post;
}

.form-group {
  font-family: "Lato", "sans-serif";
  font-size: 14px;
  color: $post;

  ::placeholder {
    color: $post;
  }
}
