.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 15px;
}

.navbar-title {
  border: 5px solid $dark-gray;
  padding: 5px 10px;
  color: $dark-gray;
  font-family: "Lato", "sans-serif";
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 10px;

  &:hover {
    text-decoration: none;
    border: 5px solid $gray;
  }
}

.navbar-links {
  font-family: "Lato", "sans-serif";
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 2px;

  .list-inline {
    list-style: none;

    li {
      display: inline-block;
      padding: 0px 40px;

      &:last-child {
        padding: 0px 15px 0px 40px;
      }
    }
  }
}

.navbar-title, .navbar-title a, .list-inline li a {
  text-decoration: none;
  color: $dark-gray;

  &:hover {
    color: $gray;
    transition: all 0.3s ease;
  }
}

// Mobile

.dropdown {
  padding-right: 15px;
  cursor: pointer;
  color: $dark-gray;
}

.navbar-dropdown-menu {
  margin-top: 25px;
  border-color: $dark-gray;
  box-shadow: none;
}

.navbar-dropdown-menu li > a {
  font-family: "Lato", "sans-serif";
  font-size: 15px !important;
  letter-spacing: 2px;
  color: $dark-gray !important;
  padding: 5px 15px;
}

.navbar-dropdown-menu li > a:hover {
  color: $gray !important;
  background: white;
}

.navbar-dropdown-menu:before {
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  right: 17.5px;
  top: -6px;
  background: white;
  transform: rotate(45deg);
  border-left: 1px solid $dark-gray;
  border-top: 1px solid $dark-gray;
}
