.sidebar {
  height: calc(100vh - 100px);
  width: 250px;
  flex: 0 0 auto;
  position: sticky !important;
  top: 100px;
  padding: 15px 17.5px;
  color: $dark-gray;
  text-align: center;
}

.sidebar-photo {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-bottom: 5px;
}

.sidebar-name h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 15px 10px;
}

.sidebar-bio p {
  font-size: 14px;
  line-height: 1.25;
  margin: 0px;

  &:first-child {
    margin-bottom: 15px;
  }
}

.sidebar-links li {
  padding: 0px 10px;
  font-size: 16px;
}
